|ErrorCode|Key|Description|
|:-|:-|:-|
|-1|SERVER_INTERNAL_ERROR| |
|-2|INVALID_PARAMETER| |
|-10|API_DEPRECATED| |
|-11|API_NOT_FOUND| |
|-20|MAINTAIN_MODE| |
|-100|AUTH_FAILED| |
|-200|NO_PERMISSION| |
|-10000|CUSTOM_ERROR_MESSAGE| |
|10002|OBJECT_NOT_FOUND| |
