import axios from 'axios';

export default {
  user: {
    createUser: async (data) => {
      return await axios.post('/api/v1/user/create_user', data);
    },
    getUsers: async (data) => {
      return await axios.post('/api/v1/user/get_users', data);
    },

  },
  article: {
    getArticleComments: async (data) => {
      return await axios.post('/api/v1/article/get_article_comments', data);
    },
    createArticle: async (data) => {
      return await axios.post('/api/v1/article/create_article', data);
    },
    getArticle: async (data) => {
      return await axios.post('/api/v1/article/get_article', data);
    },
    getArticles: async (data) => {
      return await axios.post('/api/v1/article/get_articles', data);
    },

  },

}

