import axios from 'axios';


'/api/v1/user/create_user'
'/api/v1/user/get_users'
'/api/v1/article/get_article_comments'
'/api/v1/article/create_article'
'/api/v1/article/get_article'
'/api/v1/article/get_articles'


export default {
  admin: {
    article: {
      getArticles: async (data) => {
        return await axios.post('/api/v1/article/get_articles', data);
      }
    }
  }
}

