<?php

Route::match(['POST', 'POST'], '/v1/user/create_user', 'V1\UserController@CreateUser');
Route::match(['POST', 'DELETE', 'POST'], '/v1/user/get_users', 'V1\UserController@GetUsers')->middleware(['admin']);
Route::match(['POST'], '/v1/article/get_article_comments', 'V1\ArticleController@GetArticleComments');
Route::match(['POST'], '/v1/article/create_article', 'V1\ArticleController@CreateArticle');
Route::match(['POST'], '/v1/article/get_article', 'V1\ArticleController@GetArticle');
Route::match(['POST'], '/v1/article/get_articles', 'V1\ArticleController@GetArticles');
